Repository DevsDomain/D-Traker, pull requests merged in 2024-05, with the labels that each got.

#63 Update README.md
  README.md
Labels: Documentação

#64 Create alteracaoVisiona2024.csv
  Documentos/dbVisiona.new/alteracaoVisiona2024.csv
Labels: Back-end

#71 Fernando
  Documentos/API - Agenda aulas - 3 nivel - 2024-1.xlsx
  Documentos/dbVisiona.new/ApontamentoAlteracao.csv
  Documentos/dbVisiona.new/dbVisiona.gradeatuacaos.csv
  Documentos/dbVisiona.old/atibaiaGradeAtuacao.json
  Documentos/dbVisiona.old/taubatexasGradeAtucao.json
  front-end/src/pages/gestaoDeAcesso/index.tsx
  front-end/src/pages/meusProjetos/MeusProjetos.tsx
Labels: React, Front-end

#75 FIltros de membros e projetos - Funcionais
  backend/src/controllers/GradeAtuacaoController.ts
  backend/src/routes/gradeAtuacao.routes.ts
  front-end/src/components/Select/index.tsx
  front-end/src/components/graficos/GraficoStatusProjeto.tsx
  front-end/src/contexts/dashboardContext.tsx
  front-end/src/pages/Dashboard/index.tsx
  front-end/src/pages/gestaoDeAcesso/index.tsx
  front-end/src/pages/meusProjetos/MeusProjetos.tsx
  front-end/src/services/dashboardApi.ts
  front-end/src/services/projetosAndamento.ts
  front-end/src/types/alteracao.ts
  front-end/src/types/projetos.ts
Labels: React, Front-end
